<h1><%= current_user.name %> Messages </h1>
<ul>
    <h3>Received Messages:</h3>
    <% @received_messages.each do |msg|%>
      <li>
        <h4>Message from <%= msg.from.name %></h4>
        <h5><%= msg.content %></h5> <br>
        <%= link_to 'Delete Message', message_path(msg.to, msg), method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-primary' %>
      <% end %>
      </li>

    <h3>Sent Messages:</h3>
    <% @sent_messages.each do |msg|%>
      <li>
        <h4>Message to <%= msg.to.name %></h4>
        <h5><%= msg.content %></h5> <br>
        <%= link_to 'Delete Message', message_path(msg.to, msg), method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-primary' %>
    <% end %>
    </li>
</ul>

<%= link_to 'Home', users_path, class: 'btn btn-primary' %>
<%= link_to 'Your Profile', user_path(current_user), class: 'btn btn-primary' %>
