<h1>Log In</h1>
<%= form_for :login do |f| %>
  <div>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <td>
    <%= f.submit 'Log In', class: 'btn btn-info' %>
  </td>
  <td>
    <%= link_to 'Home', users_path, class: 'btn btn-info' %>
  </td>
<% end %>
