
<%= form_for @user do |f| %>
  <div class="field form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field form-group">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field form-group">
    <%= f.label :date_of_birth %>
    <%= f.date_field :dob %>
  </div>

  <div class="field form-group">
    <%= f.label :interests %>
    <%= f.text_field :description %>
  </div>

  <div class="field form-group">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="field form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div>
    <%= f.label :picture %>
    <%= f.file_field :image%>
  </div> <br>
  <div>
    <%= f.fields_for :skills do |ff| %>
    <% if ff.object.persisted? %>
    <%= ff.check_box :_destroy  %>
    <%= ff.label :delete %>
    <% end %>
  </div>
    <div class="field form-group">
      <%= ff.label :category_id %>
      <%= ff.collection_select :category_id, Category.all, :id, :name, include_blank: true %>
    </div>
    <div class="field form-group">
      <%= ff.label :describe_skill %>
      <%= ff.text_field :description %>
    </div>
    <div class="field form-group">
      <%= ff.label :price %>($)
      <%= ff.number_field :price %>
    </div>
  <% end %>
  <table>
    <td>
      <%= f.submit 'Done', class: 'btn btn-primary' %>
    </td>
  </table>
<% end %>
