<% if current_user %>
<ul class="nav nav-pills", role="tablist", style="float:right">
  <li class="active, navb"><%= link_to 'Your Profile', user_path(current_user), class: 'btn btn-primary' %></li>
  <li class="active, navb"><%= link_to 'Log Out', logout_path, class: 'btn btn-primary', method: :delete %></li>
</ul>
<h1>Home</h1>
  <h2>Hello <%= current_user.name %>! </h2> <br>
  <div class="picture">
    <%= image_tag current_user.image.url(:med), class: 'img-rounded' %>
  </div>
  <h3>Users</h3> <br>
  <ul>
    <% @users.each do |user| %>
    <li>
      <h4><%= link_to user.name, user_path(user) %></h4> <%= image_tag user.image.url(:small), class: 'img-rounded' %> <br> <strong>Interests:</strong> <br>
      <h5><%= user.description %></h5>
      <strong>Skills:</strong> <br>
      <% user.skills.each do |skill| %>
      <h5>* <%= skill.description %></h5>
      <% end %>
      <%= link_to 'Send Message', new_message_path(user), class: 'btn btn-primary' %>
    </li> <br>
    <% end %>
  </ul>
<% else %>
  <ul class="nav nav-pills", role="tablist", style="float:right">
    <li class="active, navb"><%= link_to 'Log In', login_path, class: 'btn btn-primary' %></li>
    <li class="active, navb"><%= link_to 'Sign Up', new_user_path, class: 'btn btn-primary' %></li>
  </ul>

  <h1>Welcome</h1>

  <h3>What do we offer?</h3>
  <h5>Is a community where you can find other women like you, with the same interests and/or necessities, where you can express your best skills and the best part is you can get something in return! Your plus... Create great friendships.</h5>
  <div>
    
  </div>

<% end %>
