<h2>Users</h2>

<% if current_user %>
<h2>Hello <%= current_user.name %> </h2>
<h3>Description: <%= current_user.description %></h3>
<%= link_to 'Log Out', logout_path, method: :delete %>
<% else %>

<%= link_to 'Log In', login_path %>
<br>
<%= link_to 'Sign Up', new_user_path %>
<% end %>
