<% if current_user %>
<ul class="nav nav-pills", role="tablist", style="float:right">
  <li class="active, navb"><%= link_to 'Your Profile', user_path(current_user), class: 'btn btn-primary' %></li>
  <li class="active, navb"><%= link_to 'Log Out', logout_path, class: 'btn btn-primary', method: :delete %></li>
</ul>
<h1>Home</h1>
  <h2>Hello <%= current_user.name %>! </h2> <br>
  <div class="picture">
    <%= image_tag current_user.image.url(:med), class: 'img-rounded' %>
  </div>
  <h3>Users</h3> <br>
  <ul>
    <% @users.each do |user| %>
    <li id="eachUser">
      <h4><%= link_to user.name, user_path(user) %></h4> <%= image_tag user.image.url(:small), class: 'img-rounded' %> <br> <strong>INTERESTS</strong> <br>
      <h5><%= user.description %></h5>
      <strong>SKILLS</strong> <br>
      <% user.skills.each do |skill| %>
      <h5>* <%= skill.description %></h5>
      <% end %>
      <%= link_to 'Send Message', new_message_path(user), class: 'btn btn-primary' %>
    </li> <br>
    <% end %>
  </ul>
<% else %>
  <ul class="nav nav-pills", role="tablist", style="float:right">
    <li class="active, navb"><%= link_to 'Log In', login_path, class: 'btn btn-primary' %></li>
    <li class="active, navb"><%= link_to 'Sign Up', new_user_path, class: 'btn btn-primary' %></li>
  </ul>

  <h1 id="welcomeTitle">Welcome</h1>

  <h3>What do we offer?</h3>
  <h5 id="welcomeText">LuxChange is a community where you can find other women like you, with the same interests and/or necessities, where you can share your skills and the best part it's that you can get something in return, without involving any cash!</h5>
  <% @image_urls=["https://static1.squarespace.com/static/5575ed06e4b019b0586d393c/5633f4fee4b0e41cc45eb923/5633f508e4b062bdba18f030/1446245649856/Women+In+Tech+-+92.jpg", "http://wdy.h-cdn.co/assets/cm/15/09/54ebaae1869bb_-_women-cooking-xl.jpg", "http://s1.1zoom.me/big0/352/Fitness_group_of_women_451604.jpg"] %>

  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
    <!-- Wrapper for slides -->
    <div style='margin: auto'>
      <%= carousel_for(@image_urls) %>
    </div>

    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  </div>

<% end %>
