<ul class="nav nav-pills", role="tablist", style="float:right">

  <li class="active, navb"><%= link_to 'Edit Profile', edit_user_path(@user), class: 'btn btn-primary' if current_user == @user %></li>
  <li class="active, navb"><%= link_to 'Delete Profile', user_path, class: 'btn btn-danger', method: :delete, data: {confirm: "Are you sure you want to delete your profile?"} if current_user == @user %></li>
  <li class="active, navb"><%= link_to 'Home', users_path, class: 'btn btn-primary' %></li>
  <li class="active, navb"><%= link_to 'Send Message', new_message_path(@user), class: 'btn btn-primary' if current_user != @user %></li>
  <li class="active, navb"><%= link_to 'Messages', messages_path(@user), class: 'btn btn-primary' if current_user == @user %></li>
  <li class="active, navb"><%= link_to 'Log Out', logout_path, class: 'btn btn-primary', method: :delete if current_user == @user%></li>
</ul>

<h1>Profile</h1>
<div>
  <h2> <%= @user.name %> </h2>
  <div class="picture">
    <%= image_tag @user.image.url(:large), class: 'img-circle' %>
  </div>
  <ul id="profileView">
    <h3>Description: </h3>
    <h5><%= @user.description %></h5>
    <%# @user.categories.each do |category| %>
    <% Category.all.each do |category| %>
    <% if @user.skills.where(category: category).count > 0 %>
    <h3><%= category.name %>:</h3>
    <% @user.skills.where(category: category).each do |skill| %>
    <li>
      <h5><%= skill.description %></h5>
      <h5>Price: $<%= skill.price %></h5>
    </li>
    <% end %>
    <% end %>
    <% end %>
  </ul>
</div>
