<h1>Profile</h1>
<h2>Hello <%= current_user.name %>! </h2>
<ul>
  <h3>Description: </h3>
  <h5><%= current_user.description %></h5>
  <% @user.categories.each do |category| %>
    <h3><%= category.name %>:</h3>
    <% @user.skills.each do |skill| %>
    <li>
      <h5><%= skill.description %></h5>
    </li>
    <% end %>
  <% end %>
</ul>

<%= link_to 'Edit Profile', edit_user_path(current_user), class: 'btn btn-primary' %>
<%= link_to 'Delete Profile', user_path, class: 'btn btn-danger', method: :delete, data: {confirm: "Are you sure you want to delete your profile?"} %>
<%= link_to 'Home', users_path, class: 'btn btn-primary' %>
<%= link_to 'Messages', messages_path(current_user), class: 'btn btn-primary' %>
<%= link_to 'Log Out', logout_path, class: 'btn btn-primary', method: :delete %>
