<h2>Hello <%= current_user.name %> </h2>
<h3>Description: <%= current_user.description %></h3>
<ul>
  <% @skills.each do |skill| %>
  <li>
    <%= skill.name %>
  </li>
</ul>
<%= link_to 'Edit your information', edit_user_path(current_user), class: 'btn btn-primary' %>
<%= link_to 'Log Out', logout_path, class: 'btn btn-primary', method: :delete %>
